# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
db.sqlite3-wal
db.sqlite3-shm
/media/
/backend/staticfiles/
*.log

# Node
node_modules/
dist/
.vite/
*.tsbuildinfo

# Editores
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
